label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    background-color: rgb(253, 244, 162);
    padding: 1rem;
    border-radius: 4px;
    font-size: 1em;
    border: none;
    margin-left: 10px;
  }
  button:hover {
    background-color: #ffe600;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  * {
      margin: 0 auto;
  }
  .edit {
      justify-content: center;
      width: 200px;
      margin-top: 100px;
  }